@font-face {
  font-family: Lato;
  src: local(Lato), local('Lato-Regular'), url('../fonts/lato-regular.woff2') format('woff2'),
  url('../fonts/lato-regular.woff') format('woff');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: Lato;
  src: local(Lato), local('Lato-Bold'), url('../fonts/lato-bold.woff2') format('woff2'),
  url('../fonts/lato-bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}
