* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  margin:  0 auto;
  display: flex;
  flex-wrap:wrap;
  padding-top: 100px;
}

.article-shoes {
  max-width: 1240px;
  padding: 0 67px;
}

.title {
  font-size: 50px;
  font-weight: 700;
  line-height: 65px;
  color: #454545;
  margin-top: 5px;
}

.subtitle {
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  margin-top: 50px;
  margin-bottom: 0;
}

.text {
  font-size: 22px;
  font-weight: 500;
  line-height: 33px;
  margin-bottom: 50px;
  margin-top: 0;
}

.text-title {
  font-size: 22px;
  font-weight: 500;
  line-height: 33px;
  margin-top: 50px;
  margin-bottom: 0;
}

.text-content {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #828282;
  margin: 0;
}

.image {
  margin: 50px 0;
}

.ad {
  padding: 0 67px;
}

.ad-content {
  max-width: 530px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;

}

.ad-travel {
  background-image: url("/img/aside-travel.jpg");
}

.ad-car {
  background-image: url("/img/aside-car.jpg");
}

.text-ad {
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: white;
  padding: 10px 110px 30px 30px;

}

.ad-title {
  font-family: Lato, sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 39px;
  color: white;
  padding: 230px 110px 0 30px;
}


