* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0 auto;
}

.article-shoes {
  max-width: 1280px;
  padding: 0 75px 0 110px;
  float: left;
}

.title {
  font-size: 50px;
  font-weight: 700;
  line-height: 65px;
  color: #454545;
  margin-top: 110px;
}

.subtitle {
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  margin-top: 50px;
}

.text {
  font-size: 22px;
  font-weight: 500;
  line-height: 33px;
  margin-bottom: 50px;
}

.text-title {
  font-size: 22px;
  font-weight: 500;
  line-height: 33px;
  margin-top: 50px;
}

.text-content {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #828282;
  margin: 0;
}

.image {
  margin: 50px 0;
}

.ad {
  float: right;
}

.ad-content {
  width: 530px;
  height: 325px;
  margin: 100px 70px 50px 75px;
}

.ad-travel {
  position: relative;
  background-image: url("/img/aside-travel.jpg");
}

.ad-car {
  position: relative;
  background-image: url("/img/aside-car.jpg");
}

.text-ad {
  position: absolute;
  bottom: 20px;
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: white;
  padding-left: 30px;
  padding-right: 100px;
}

.ad-title {
  position: absolute;
  bottom: 45px;
  font-family: Lato, sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 39px;
  color: white;
  padding-left: 30px;
  padding-right: 100px;
}


